<!DOCTYPE html>
<html lang='eng'>
<head>
  <meta charset="UTF-8">
  <title>Shawn Advani Web Resume - Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="wrapper">
    <nav class="navbar navbar-dark" style="background-color: #000000;padding-right: 25px;padding-left: 25px;">
       <div class="row .col-md-1">
           <a class="navbar-brand">Web Resume: Shawn Advani</a>
       </div>
       <div class="row .col-md-3 .col-md-offset-8">
           <a class="navbar-brand" href="about.html">About Me</a> -->
           <a class="navbar-brand" href="academic.html">Academic Career</a>
           <a class="navbar-brand" href="work.html">Work History</a>
           <a class="navbar-brand" href="contact.html">Contact</a>
       </div>
   </nav>
  </div>
</body>
